.Balance{
    padding: 4vw;
    background-color: #1e90ff;
    width: 40%;
    position: relative;
    left: 27%;
    border: solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border-style: groove;
    border-width: thin;
    box-shadow: -5px 5px 12px  rgba(0, 0, 0, 0.2); 
    overflow: hidden;
    opacity: 0.8;
    height: 85px;
}



.sum{
    position: relative;
    top: -8vh;
    color: white;

}

.status{
    position: relative;
    top: -35px;

    
}

.income{
    position: relative;
    left: -5vw;
    font-weight: bold;
    top: -5vh;
}

.expense{
    position: relative;
    left:5vw;
    font-weight: bold;
    top: -5vh;
}

.details{
    position: relative;
    top: -10vh;
}
.details-income{
    position: relative;
    left: -7.5vw;
    font-weight: bold;
    color:#009432;
}
.details-expense{
    position: relative;
    left: 6.5vw;
    font-weight: bold;
    color:#ff3f34;
}
/* hr{
    background-color: black;
    position: relative;
    top: -3vh;
    width: 50%;
} */

h6{
    position: relative;
    top: -25px;
}