.Transcations2 {
    
  
    
}

.Table{
    position: relative;
    top:-15px;
    left: 0px;
}
.tableDiv{
   
   background-color: #1e90ff;
   padding: 4vw;
   /* width: 40%; */
   display: flex;
   position: flex;
   /* left: 2%; */
   border: solid rgba(0, 0, 0, 0.2);
   border-radius: 10px;
   border-style: groove;
   border-width: thin;
   box-shadow: -5px 5px 12px rgba(0, 0, 0, 0.2);
   overflow: hidden;
   opacity: 0.8;
   min-height: 30%;
   /* width: 290px; */
   align-content: center;
   justify-content: center;
   margin: 5%;

}


